<div class="text-field">
  <%= form.label :email,class: 'white' %>
  <%= form.text_field :email,  class: 'black', type: 'email' %>
</div>

<div class="text-field">
  <%= form.label :first_name, class: 'white' %>
  <%= form.text_field :first_name, class: 'black', type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :last_name, class: 'white'%>
  <%= form.text_field :last_name,  class: 'black', type: 'text'%>
</div>

<div class="text-field">
  <%= form.label :phone, class: 'white'%>
  <%= form.text_field :phone,  class: 'black', type: 'text'%>
</div>

<%= form.file_field :avatar %>