<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user, remote: true do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="password-field">
      <%= form.label :password,class: 'white'%>
      <%= form.password_field :password, class: 'black'%>
    </div>

    <div class="submit-field-box" >
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path, class: 'white' %>
    </div>
  <% end %>
</div>
