
<div class="container-background">

  <div class="navbar navbar-inverse-two">
    <div class="choice">
      <tr>
      <td>
      <span class="glyphicon glyphicon-search"></span>
      </td>
      <td>
      <select style="height:2.2em;"> 
      <option value="Langkawi">Langkawi</option>
      <option value="Tioman">Tioman</option>
      <option value="Rawa">Rawa</option>
      <option value="Perhentian">Perhentian</option>
      <option value="Redang">Redang</option>
      <option value="Layang-Layang">Layang-Layang</option>
      <option value="Sipadan">Sipadan</option>
      <option value="Bali">Bali</option>
      <option value="Lombok">Lombok</option>
      <option value="Phuket">Phuket</option>
      <option value="Koh Samui">Koh Samui</option>
      <option value="Koh Phi Phi">Koh Phi Phi</option>
      <option value="Koh Lanta">Koh Lanta</option>
      <option value="Batam">Batam</option>
      </select>
      <td>Check In:</td>
      <td><input type="date"></td>
      <td>Check Out:</td>
      <td><input type="date"></td>
      <button>Search</button>
      </tr>
     </div>
    </div>
  </div>

    <div class="slideshow">
      <div class="mySlides">
        <%= image_tag "Bali_Slide1.jpg", style: "width: 100%"%>
        <span class = "caption-padding"><h1>Discover Ayana at Sunset </h1><h3>Rooms from IDR 2 mil per night. Take 30% off your first night on us..</h3></span>
      </div>
 
      <div class="mySlides">
        <%= image_tag "Phuket_Slide2.jpg", style: "width: 100%"%>
        <span class = "caption-padding"><h1>Phuket..Where East Meets West</h1><h3>A journey of discovery..</h3></span>
      </div>

       <div class="mySlides">
        <%= image_tag "Perhentian_Slide3.jpg", style: "width: 100%" %>
        <span class = "caption-padding"><h1>Perhentian Island..A Tropical Paradise</h1><h3>A diver's haven..Book Now</h3></span>
      </div>

      <div class="mySlides">
        <%= image_tag "Langkawi_Slide4.jpg",style: "width: 100%" %>
        <span class = "caption-padding"><h1>The New St.Regis Langkawi</h1><h3>You cant ask for more..</h3></span>
      </div>
    </div>
  

      <div class="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
        <% end %>
      </div>

      <div class="error">
      </div>
  
</div>